

/* $size: 150px; // cube length */

/* body {
  text-align: center;
  padding: 50px;
} */

.cube-label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  padding: 50px 0px 50px 0px;
  font-size: 30px;
}



.radio-cube-wrapper {
  color: white;
  padding: 80px 90px 30px 0px;
  text-align: center;
  height: 600px;

  /* background-color: blue; */
  background-color: rgba(0,0,0,0.5);
  background-color: #433E49;
}

.spacer {
  height: 50px;
}

.spacer-small {
  height: 30px;
}

.scene {
  display: inline-block;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  
  perspective: 600px;
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: #8d8989;
  opacity: 0.8;
}
/* // faces */
.cube-face-front {
  background: yellow;
  transform: translate3d(0, 0, 150px);
}  
.cube-face-back {
  background: black;
  transform: rotateY(180deg) translate3d(0, 0, 150px);
} 
.cube-face-left {
  background: green;
  transform: rotateY(-90deg) translate3d(0, 0, 150px);
} 
.cube-face-right {
  background: magenta;
  transform: rotateY(90deg) translate3d(0, 0, 150px);
} 
.cube-face-top {
  background: blue;
  transform: rotateX(90deg) translate3d(0, 0, 150px);
} 
.cube-face-bottom {
  background: rgba(255,0,0,1);
  transform: rotateX(-90deg) translate3d(0, 0, 150px);
}  
/* // controls  */
#radio-back:checked ~ .scene .cube {
  transform: rotateY(180deg); 
} 
#radio-left:checked ~ .scene .cube {
  transform: rotateY(90deg); 
} 
#radio-right:checked ~ .scene .cube {
  transform: rotateY(-90deg); 
}
#radio-top:checked ~ .scene .cube {
  transform: rotateX(-90deg); 
}  
#radio-bottom:checked ~ .scene .cube {
  transform: rotateX(90deg); 
}
