/* @import './backupCSSforDeck.css'; */
/* @import './canvas.scss';
@import './cube.css';
@import './cube2.scss'; */
/* @import './flipcard.scss'; */

/* There is a default small margin if not explicitly set to zero
The overflow hidden keeps the scrollbars from appearing by default */


/* Code for the 2D examples */
/* body {
    margin: 0;
    overflow: hidden;
} */

/* Code for the 3D examples - WebGL - Three.js library */
/* html,body {
    margin: 0;
} */
/* body {
    overflow: hidden;
} */

/* body {
    margin-left: 40px;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* pebble */
/* Hex: 433E49 / 928490 / DBC1AD / F3E8EB */
/* harvest */
/* Hex: 8E7C68 / ED7458 / FFDC9F / DDC9BC */
/* scuba */
/* Hex: 0C4A60 / EF6C33 / ABDFF1 / E1DDDB */

.top-header {
    text-align: center;
}

.toc-section-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    /* background-color: rgba(0,0,0,0.5); */
    background-color: #433E49;
    padding: 5px 0px 5px 0px;
}

.toc-section-wrapper a {
    color: white;
    text-decoration: underline;
    /* padding: 500px; */
}

.toc-wrapper-list h2 {
    padding: 30px;
    font-size: 40px;
}

.cog-spinner-header {
    text-align: center;
    text-shadow: 3px 3px 6px black;
    color: white;
    /* color: black; */
    padding: 50px 0px 0px 0px;
    font-size: 40px;
    /* font-weight: bold; */
}

.cog-wrapper {
    padding: 100px;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    /* background-color: green; */
}

.cog-header {
    width: 600px;
    height: 300px;
    display: inline-block;
    
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation: 10s linear infinite changeColor;
}

.cog-header h2 {
    margin: 1em auto;
    text-align: center;
    margin-top: 20%;
}

.cog-container {
    z-index: -1;
    position: relative;
    width: 300px;
    height: 300px;

    animation: 3s linear infinite rotateCog;
}

.cog-container img {
    width: 300px;
    height: 300px;
}

.cog-container-slow {
    z-index: -1;
    position: relative;
    width: 300px;
    height: 300px;

    animation: 6s linear infinite rotateCog;
}

.cog-container-slow img {
    width: 300px;
    height: 300px;
}

.cog-container-fast {
    z-index: -1;
    position: relative;
    width: 300px;
    height: 300px;

    animation: 1s linear infinite rotateCog;
}

.cog-container-fast img {
    width: 300px;
    height: 300px;
}


/* .perspective { perspective: 300px; } */

.rotate-group { 
    position: relative;
    width: 250px;
    height: 360px;
    /* border: 2px solid black; */
}

.rotate-group img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.rotate-group:hover .rotate-x {
    -webkit-animation: animate-x 5s infinite linear;
    animation: animate-x 5s infinite linear;
}

.rotate-x {
    perspective: 300px;
    animation: animate-x 5s infinite linear;
}

.rotate-group:hover .rotate-y {
    -webkit-animation: animate-y 5s infinite linear;
    animation: animate-y 5s infinite linear;
}

.rotate-y {
    perspective: 300px;
    animation: animate-y 5s infinite linear;
}

@-webkit-keyframes animate-x {
    0% { -webkit-transform: rotateX(0); }
    100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
    0% { transform: rotateX(0); }
    100% { transform: rotateX(360deg); }
}

@-webkit-keyframes animate-y {
    0% { -webkit-transform: rotateY(0); }
    100% { -webkit-transform: rotateY(360deg); }
}

@keyframes animate-y {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}

@keyframes rotateCog {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes changeColor {
    0% { background: blue;}
    50% { background: red;}
    70% { background: green;}
    100% { background: blue;}
}

