/* There is a default small margin if not explicitly set to zero
The overflow hidden keeps the scrollbars from appearing by default */


/* Code for the 2D examples */
/* body {
    margin: 0;
    overflow: hidden;
} */

/* Code for the 3D examples - WebGL - Three.js library */
/* html,body {
    margin: 0;
} */
/* body {
    overflow: hidden;
} */



.cog-header {
    /* z-index: 1; */
    width: 600px;
    height: 300px;
    display: inline-block;

    /* text-align: center; */

    /* justify-content: center; */
    /* align-items: center; */
    
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation: 10s linear infinite changeColor;
}

.cog-header h2 {
    margin: 1em auto;
    text-align: center;
    margin-top: 20%;
}

.cog-container {
    /* background: transparent; */
    z-index: -1;
    position: relative;
    width: 300px;
    height: 300px;

    animation: 1s linear infinite rotateCog;
}

.cog-container img {
    /* background: transparent; */
    /* z-index: -1; */
    /* position: relative; */
    width: 300px;
    height: 300px;
}

.cog-container-fast {
    /* background: transparent; */
    z-index: -1;
    position: relative;
    width: 300px;
    height: 300px;

    animation: 1s linear infinite rotateCog;
}

.cog-container-fast img {
    /* background: transparent; */
    /* z-index: -1; */
    /* position: relative; */
    width: 300px;
    height: 300px;
}


/* .perspective { perspective: 300px; } */

.rotate-group { 
    position: relative;
    width: 250px;
    height: 360px;
    /* border: 2px solid black; */
}

.rotate-group img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.rotate-group:hover .rotate-x {
    -webkit-animation: animate-x 5s infinite linear;
    animation: animate-x 5s infinite linear;
    /* transform: rotateY(180deg); */
}

.rotate-x {
    perspective: 300px;
    animation: animate-x 5s infinite linear;
}

@-webkit-keyframes animate-x {
    0% { -webkit-transform: rotateX(0); }
    100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
    0% { transform: rotateX(0); }
    100% { transform: rotateX(360deg); }
}




/* ----------------------------------------- */
/* .rotate-x {
    perspective: 300px;
    animation: animate-x 5s infinite linear;
}

@-webkit-keyframes animate-x {
    0% { -webkit-transform: rotateX(0); }
    100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
    0% { transform: rotateX(0); }
    100% { transform: rotateX(360deg); }
} */




@keyframes rotateCog {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes changeColor {
    0% { background: blue;}
    50% { background: red;}
    70% { background: green;}
    100% { background: blue;}
}